*{
    margin:0;
    box-sizing: border-box;
    font-family: rubik, sans-serif;
    font-weight:400;
}

.container{
    background-color:whitesmoke;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width:1000px;
    height:600px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    border-radius: 10px;
}

.inner h1{
    border-bottom:1px solid rgba(0, 0, 0, 0.16);
    padding-bottom:10px;
    margin-bottom:10px;
}


input{
    padding:8px 12px;
    border-radius: 10px;
    font-size:.8em;
    border:1px solid rgba(0, 0, 0, 0.16);
    outline:none;
} 


.inner h2{
    font-size:1.1em;
    padding-bottom:10px;
    margin-bottom:10px;
}
label{
    font-size:.8em;
}
button{
    padding:8px 12px;
    border-radius: 10px;
    font-size:.8em;
    background-color: #2cbc63;
    border:1px solid rgba(0, 0, 0, 0.16);
    border:none;
    outline:none;
    width:100%;
    cursor:pointer;
    transition:.4s;
    border:1px solid rgba(0, 0, 0, 0.16);
}

.resetBtn{
    background-color: crimson !important;
    border:1px solid rgba(0, 0, 0, 0.16);
}

.column-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:15px;
}

form{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

form input{
    margin-top:10px;
    margin-bottom:10px;
}

.spacer{
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
    height:1px;
    background-color:rgba(0, 0, 0, 0.16);
}

ul{
    list-style-type: none;
    padding:0;
}

.person{
    width:100%;
    padding:8px 12px;
    border-radius: 10px;
    font-size:.8em;
    background-color: whitesmoke;
    border:1px solid rgba(0, 0, 0, 0.16);
    margin-bottom:10px;
    cursor:pointer;
}

.warning{
    width:100%;
    padding:8px 12px;
    border-radius: 10px;
    font-size:.8em;
    background-color: paleturquoise;
    border:1px solid rgba(0, 0, 0, 0.16);
    margin-bottom:10px;
    cursor:pointer;
}

.group{
    width:100%;
    padding:8px 12px;
    border-radius: 10px;
    font-size:.8em;
    background-color: whitesmoke;
    border:1px solid rgba(0, 0, 0, 0.16);
    margin-bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    cursor:pointer;
    transition:.4s;
}

.disabled{
    opacity:50%;
    cursor:not-allowed;
}

button:hover {
    transform:scale(1.04);
}

.group:hover {
    transform:scale(1.04);
}

.modalBackground{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.507);
    position:fixed;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
}

.modal{
    min-height:200px;
    width:400px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    border-radius: 10px;
}

.modalHeader{
    border-bottom:1px solid rgba(0, 0, 0, 0.16);
    padding-bottom:10px;
    margin-bottom:10px;
    font-size:1.2em;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.modal h2{
    font-size:1.2em;
}

.modal li{
    margin: 10px 0px;
}

.modal li:last-of-type {
    margin-bottom: 0px;
}



.fadeIn{
    animation:.5s fadeIn forwards;
}

.fadeOut{
    animation:.5s fadeOut forwards;
}

.fa-times{
    cursor:pointer;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }

    100%{
        opacity:100%;
    }
}

@keyframes fadeOut{
    0%{
        opacity:100%;
    }

    100%{
        opacity:0%;
    }
}